* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-image: url(./Images/Black\ and\ White\ Stripes\ Wave\ Elevation\ Topographic\ Topo\ Map\ Pattern.jpg);
    background-color: #1f2022;
    color: #f8f8f8;
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 7px 14px;
    background-color: #1f2022;
    border-right: 2px solid #4f525c;

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close{
  padding: 5px;
  width: 60px;
}

#sidebar ul {
    list-style: none;

}

#sidebar>ul>li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo {
        font-weight: 600;
    }
}

#sidebar ul li.active a {
    color: #f8f8f8;
}

#sidebar .logo{
    font-family: "Inter", sans-serif;
}

#sidebar a,
#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: "Open Sans", sans-serif;
}

.rotate{
  rotate: 180deg;
}


#sidebar a:hover {
    background: rgba(255, 255, 255, 0.2);
}

#sidebar a img {
    flex-shrink: 0;
}

#sidebar a p {
    flex-grow: 1;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    padding: 10%;
}

.text-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 75%;
    min-height: 100vh; 
    padding: 20px 30px; 
    margin-left: 15%;
    background-color: #60666e; 
    border-radius: 15px; 
    font-family: 'Segoe UI', Arial, sans-serif; 
    line-height: 1.6; 
}
@media (max-width:450px) {
    .text-container{
        margin-left: 0px;
    }
}

.text-container h1 {
    font-size: 2.5rem;
    color: #f8f8f8;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.text-container p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.text-container p strong {
    color: #1f2022;
    font-weight: 600;
}